body {
	background-color: #ffcccc;
	font-family: Arial, sans-serif;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
}

h1 {
	color: #ff69b4;
	border-bottom: 2px solid #ff69b4;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

p {
	font-size: 20px;
	margin-bottom: 20px;
}

ul {
	text-align: center;
	padding-left: 0;
	list-style-type: none;
	margin-top: 0;
}

li {
	margin-bottom: 10px;
}

/* Set styles for clock element */
#clock {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}
.reason-list {
    display: none;
}
.show-more-button {
    cursor: pointer;
}


/* Set styles for clock element spans */
#clock span {
    margin-right: 5px;
}

/* Adjust font size for smaller screens */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #ffc0cb;
	padding: 10px;
	box-sizing: border-box;
	border-top: 2px solid #ff69b4;
	font-weight: bold;
	font-size: 16px;
}

.text-container {
	color: #ff0000;
	mix-blend-mode: difference;
	z-index: 1;
}

.reason::before {
	content: '❤';
	color: red;
	position: absolute;
	margin-left: -1.2em;
  }

  .reason {
	position: relative;
  }

  .reason-list {
	position: relative;
  }

  .reason-list::before {
	content: '';
	color: red;
	position: absolute;
	margin-left: -1.2em;
  }
  
.reason {
	color: #ff69b4;
	transition: color 0.2s ease;
	mix-blend-mode: difference; /* Add blend mode to make text white when overlapped by background */
}

.reason:hover {
	color: white;
	text-shadow: 0 0 5px #000;
	font-weight: 300;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Set a higher z-index value */
    background-image: url('Hearts.png');
    background-repeat: no-repeat;
    background-size: cover;
    animation: move-background 15s linear infinite; /* Add animation property outside of the media query */
}
  
@keyframes move-background {
	0% {
	  background-position: -200% 0; /* Background starts at 100% from the right */
	}
	100% {
	  background-position: 300% 0; /* Background moves to the right by 1 times the width */
	}
}

/* Adjust animation duration for smaller screens */
@media screen and (max-width: 768px) {
	.background-image {
		animation-duration: 10s;
	}
}
