body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffe6f2; /* Romantic pink background color */
}

h1 {
    border-bottom: 2px solid #ff69b4; /* Romantic pink border color */
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #ff69b4; /* Romantic pink text color */
}

p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #8c8c8c; /* Romantic gray text color */
}

ul {
    text-align: center;
    padding-left: 0;
    list-style-type: none;
    margin-top: 0;
}

li {
    margin-bottom: 10px;
}

/* Set styles for clock element */
#clock {
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
    color: #ff69b4; /* Romantic pink text color */
}

.reason-list {
    display: none;
}

.show-more-button {
    cursor: pointer;
}

/* Set styles for clock element spans */
#clock span {
    margin-right: 5px;
}

/* Adjust font size for smaller screens */
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

/* Add your footer styles here */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    box-sizing: border-box;
    background-color: #ffe6f2;
    border-top: 2px solid #ff69b4; /* Add a border to the top of the footer with romantic pink color */
    font-weight: bold; /* Make the text in the footer bold */
}

.text-container {
    position: relative;
    z-index: 2; /* Increase z-index to position the text above the background image */
}

.reason::before {
    content: '❤';
    color: #ff69b4; /* Romantic pink heart color */
    position: absolute;
    margin-left: -1.2em;
    z-index: 3; /* Set z-index to position the heart icon above the text and the background image */
}

.reason {
    position: relative;
    transition: color 0.2s ease;
    color: #8c8c8c; /* Romantic gray text color */
}

.reason:hover {
    color: #ff69b4; /* Romantic pink text color on hover */
    text-shadow: 0 0 5px #000;
    font-weight: 300;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Set a higher z-index value */
    background-image: url('Hearts.png');
    background-repeat: no-repeat;
    background-size: cover;
    animation: move-background 15s linear infinite; /* Add animation property outside of the media query */
}

@keyframes move-background {
    0% {
        background-position: -200% 0; /* Background starts at 100% from the right */
    }
    100% {
        background-position: 300% 0; /* Background moves to the right by 1 times the width */
    }
}

/* Adjust animation duration for smaller screens */
@media screen and (max-width: 768px) {
    .background-image {
        animation-duration: 10s;
    }
}
